<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thesis.inventory.inventoryandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="services.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="layout.Products.CreateProduct"
            android:label="@string/title_activity_create_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="layout.Products.MainProduct"
            android:label="@string/title_activity_main_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="layout.Products.ListProduct"
            android:label="@string/title_activity_list_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="layout.Products.UpdateProduct"
            android:label="@string/title_activity_update_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="layout.inventory.InventoryList"
            android:label="@string/title_activity_inventory_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="layout.inventory.QRtest"
            android:label="@string/title_activity_qrtest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="layout.Products.SingleItemView"
            android:label="@string/title_activity_singleitemview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="layout.Products.AvailablePhysical"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>